<div
  class="relative items-center bg-white aspect-[1/1] cursor-pointer p-2 rounded xl:w-40"
  (click)="returnCard()"
>
  <i class="material-icons absolute right-2 top-2" (click)="editCard(card)">edit</i>

  <div>
    <span
      class="absolute whitespace-pre-line w-full text-xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-opacity duration-150 text-center"
      [ngClass]="{
        'opacity-1': !isFlipped,
        'opacity-0': isFlipped
      }"
    >
      {{ card.label }}
    </span>

    <span
      class="absolute whitespace-pre-line w-full text-xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-opacity duration-150 text-center"
      [ngClass]="{
        'opacity-1': isFlipped,
        'opacity-0': !isFlipped
      }"
    >
      {{ card.translation }}
    </span>
  </div>
</div>
